{% extends "layouts/base.html" %}

{% block title %}
  Tasks
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Deadline</th>
        <th scope="col">Workers</th>
        <th scope="col">Done</th>
      </tr>
    </thead>
    <tbody>
    {% for task in task_list %}
      <tr>
        <th scope="row">{{ task.id }}</th>
        <td>{{ task.name }}</td>
        <td>{{ task.task_type.name }}</td>
        <td>{{ task.deadline }}</td>
        <td>
          {% for worker in task.assignees.all %}
            {{ worker.username }}
          {% endfor %}
        </td>
      <td>{{ task.is_completed }}</td>
      </tr>
    {% endfor %}


    </tbody>
  </table>
{% endblock %}